




.row{
	color: white;
	font-family: Times New Roman;
	background-color: rgb(0, 0, 0);
	padding: 16px;
	padding-bottom: 20px;
	display:flex;
	flex-wrap: wrap;
	font-size: large;
}


a {
	color:white;
	text-decoration: none;

}

a h2{
	color:white;
	text-decoration: none;

}

a h2:hover {
	opacity:80%;
	text-decoration: none;

}

a:hover{
	opacity:80%;
	
}

table,th,td{
	padding-left: 5px;

}

table.row, th{
	padding-top: 2px;
}



		

	
.row a{
	color:white;
	text-decoration: none;
}








.row th,tr,td{
	padding: 20px;
	padding-right:80px;

}

.btn-warning{
	background-color: black;
	color: white;
	border: none;
}

.btn-warning:hover{
	background-color: white;
	color:black;
	border:none;
}
