




.row{
	color: white;
	font-family: Times New Roman;
	background-color: rgb(0, 0, 0);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 1000px 800px;
	background-position: center;
	padding: 16px;
}


a {
	color:white;
	text-decoration: none;

}

a h2{
	color:white;
	text-decoration: none;

}

a h2:hover {
	filter: blur(1px);;
	text-decoration: none;

}

a:hover{
	filter: blur(1px);;
	
}

table,th,td{
	padding-left: 5px;

}

table.row, th{
	padding-top: 2px;
}



		

	
a.row{
	color:white;
	text-decoration: none;
}

a.row:hover{
	filter: blur(1px);;
}