




.row{
	color: white;
	font-family: Times New Roman;
	background-color: rgb(0, 0, 0);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 1000px 800px;
	background-position: center;
	padding: 16px;
	display:flex;
	flex-wrap: wrap;
	font-size: large;
}


a {
	color:white;
	text-decoration: none;

}

a h2{
	color:white;
	text-decoration: none;

}

a h2:hover {
	opacity:80%;
	text-decoration: none;

}

a:hover{
	opacity:80%;
	
}

table,th,td{
	padding-left: 5px;

}

table.row, th{
	padding-top: 2px;
}



		

	
a.row{
	color:white;
	text-decoration: none;
}

a.row:hover{
	opacity:80%;
}


.col-md-6{
	flex: 50%;
  	padding: 0 4px;
}

.col-md-6 img{
	margin-top: 8px;
  	vertical-align: middle;
}

.row th,tr,td{
	padding: 20px;
	padding-right:80px;

}



